<launch>
  <node pkg="usb_cam" name="usb_cam" type="usb_cam_node"/>
  <node pkg="ocean_server_imu" name="ocean_server_imu" type="os5000_node"/>
  <node pkg="hokuyo_node" name="hokuyo_node" type="hokuyo_node">
    <param name="port" value="/dev/hokuyo" type="str"/>
  </node>
  <node pkg="PSoC_Listener" name="PSoC_Listener" type="PSoC_Listener.py"/>
  <node pkg="PSoC_Listener" name="PSoC_Velocities" type="PSoC_Velocities.py"/>
  <node pkg="PSoC_Listener" name="PSoC_Raw_Tank_Drive" type="PSoC_Raw_Tank_Drive.py"/>

  <node pkg="filters" name="os_imu_rotater" type="os_imu_rotater"/>
  <node pkg="filters" name="extended_kalman_filter" type="extended_kalman_filter.py"/>
</launch>
