<launch>
  <node pkg="rosbag" type="play" name="rosbag" args="/home/granny/ros/ros-bag/enssidewalk_4-6-13_1.bag --topics /vel_data /usb_cam/image_raw /vn_200_ins_soln /vn_200_gps_soln"/>

  <node pkg="GPS_Ublox" name="GPS_input_selector" type="GPS_input_selector.py">
    <param name="source" value="ins" type="str"/>
  </node>

  <include file="$(find launch_files)/launch/gps_nodes.launch"/>

  <node pkg="filters" name="ekf" type="extended_kalman_filter.py"/>
</launch>
