<launch>
  <node pkg="hokuyo_node" name="hokuyo_node" type="hokuyo_node">
    <param name="port" value="/dev/Hokuyo" type="str"/>
  </node>

  <node pkg="PSoC_Listener" name="PSoC_Listener" type="PSoC_Listener.py"/>
  <node pkg="PSoC_Listener" name="PSoC_Velocities" type="PSoC_Velocities.py"/>
  <node pkg="PSoC_Listener" name="PSoC_Joystick_Polar_Drive_Left_Handed" type="PSoC_Joystick_Polar_Drive_Left_Handed.py"/>

  <node pkg="um6_imu" name="um6_imu" type="um6_imu.py"/>
  <node pkg="GPS_Ublox" name="GPS_Listener" type="GPS_Listener.py"/>

  <node pkg="usb_cam" name="usb_cam" type="usb_cam_node"/>
</launch>
