<launch>
  <node pkg="vision" name="thresholder" type="thresholder">
    <param name="threshold" value="lane" type="str"/>
  </node>
  <node pkg="vision" name="hough_lines" type="hough_lines">
    <param name="test" value="false" type="str"/>
  </node>

  <node pkg="vision" name="log_polar_transform" type="log_polar_transform.py">
    <param name="subtopic" value="/vision/hough_lines" type="str"/>
  </node>
  <node pkg="vision" name="log_polar_processor_cpp" type="log_polar_processor_cpp"/>
  <node pkg="filters" name="image_scan_transform" type="image_scan_transform.py"/>
</launch>
